<!doctype html>
<html lang="en">
<head>
    <title>ToDo List</title>
</head>
<body>

<h1>Welcome to ToDo List</h1>
<a href="/index">Home</a><br>
<a href="/add">Add</a><br>
<br>
<img src="/assets/{{.}}">
{{template "footer"}}